[Desktop Entry]
Comment=Launch yelp
Keywords=browser
Type=Application
Name=Help
Exec=/home/potti/Desktop/check.sh yelp
Terminal=false
StartupNotify=true
OnlyShownIn=GNOME;Unity;
Categories=GNOME;GTK;Utility;Core;
NoDisplay=false
